<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact()">Submit New Contact</button>

<div class="contacts" *ngFor="let contact of contacts">
  <img src="{{contact.image}}">

  <h3>{{contact.name}}</h3>
  <p>{{contact.email}}</p>
  <p>{{contact.phoneNumber}}</p>
</div>